.fixed-div {
    position: fixed;
    right: 10%;
    top: 10%;
}

.header-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero-img-detail {
    height: 88%;
    background-image: url('../images/tumblr_n7jz4u5Fgd1ql2g28o1_500.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 10%;
}

.project-title-detail {
    color: white;
    font-size: 400%;
}

.subtitles-detail {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.line-detail {
    height: 0.5px;
    background-color: #909090;
    width: 70%;
    margin-top: 15px;
}

.subtitle-text-detail, .date-text-detail {
    color: white;
    font-weight: 100;
    font-size: 130%;
}

nav {
    height: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 49%;
    margin-left: auto;
    margin-right: auto;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

nav a:hover {
    color: blue;
    font-weight: 400;
    box-sizing: border-box;
}

.main-container {
    padding: 0% 10%;
    font-family: sans-serif;
}

main-container-edit {
    padding: 0%;
    margin: 120px 0px;
}

.project-intro {
    font-size: 200%;
    line-height: 50px;
    width: 70%;
    font-weight: 300;
}

.content-box {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.content-box-edit{
    margin: 120px 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.project-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.image-container {
    width: 82%;
    margin: 120px auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-container img{
    margin: 1%;
    width: 48%;
    object-fit: cover;
}

.project-image-sm {
    height: auto;
    width: 50%;
    display: block;
}

.contact-action {
    margin: 120px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 90px 0px;
}

.action-title {
    font-weight: 100;
    font-size: 150%;
    margin-bottom: 50px;
}

.action-button {
    background: #2C3CFF;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.action-button:hover {
    border-radius: 0px;
    transition: 0.3s ease-in-out;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-border {
    margin-bottom: 50px;
    padding-top: 80px;
    border-top: 1px solid rgb(213, 213, 213);
}

.footer-info-general {
    font-weight: 100;
    font-size: 80%;
    color: black;
    text-decoration: none;
}

.footer-info-general:hover{
    color: #2C3CFF;
}

span.footer-info-general {
    color: black;
    font-weight: 300;
    font-size: 110%;
}

.footer-info-general:nth-last-of-type(4) {
   margin-top: 30px;
}

.blank-div {
    width: 30%;
}

.home-btn{
    float: right;
    margin: 0 10% 20px 0;
    font-size: 250%;
    font-weight: 600;
    bottom: 8%;
    text-decoration: none;
    color: black;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

@media only screen and (max-width: 900px) {
    .content-box {
        width: 100%;
    }

    .content-box-edit {
        width: 100%;
    }

    .image-container img{
        margin: 1%;
        width: 100%;
        object-fit: cover;
    }

    .project-intro {
        width: 100%;
    }

    .footer-info-general {
        font-size: 100%;
    }
  }


  @media only screen and (max-width: 900px) {
    .fixed-div {
        margin-right: 50px;
    }
  }