.main-container-project-list {
    padding: 0% 10%;
    padding-top: 120px;
    font-family: sans-serif;
}

.project-list-container {
    display: flex;
    flex-direction: column;
}

.project-list-row {
    display: flex;
    justify-content: space-between;
}

.project-list-title {
    font-weight: 300;
    font-size: 200%;
}

.project-list-image {
    width: 45%;
    border-radius: 20px;
}

.project-list-slug {
    font-weight: 100;
}

.view-project-detail-btn {
    text-decoration: none;
    color: white;
    font-weight: 100;
    background-color: ;
}

.edit-height {
    height: 5%;
}

.action-button {
    background: #2C3CFF;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.action-button:hover {
    border-radius: 0px;
    transition: 0.3s ease-in-out;
}