.team-col {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 5%;
}

.top-row {
    height: 20vh;
    justify-content: flex-end;
    align-items: center;
}

.center-row {
    margin-bottom: 5vh;
    height: 55vh;
    position: relative;
}

.bottom-row {
    height: 35vh;
}

.reduce-width {
    width: auto;
}

.person-image-top {
    height: 55vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.person-image-top,
.person-image {
    width: 45%;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
}

.center-row .swap-on-hover__front-image {
    z-index: 2;
}

.center-row:hover>.swap-on-hover__front-image {
    display: none;
}

.center-row>.swap-on-hover__back-image {
    display: none;
}

.center-row:hover>.swap-on-hover__back-image {
    display: block;
}

.person-data-div,
.person-action-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-arrow {
    transform: rotate(180deg);
}

.person-data-div {
    width: 30%;
}

.person-action-btn {
    width: 14px;
    margin-top: -15vh;
    transition: 0.2s ease-in-out;
}

.person-action-btn:hover {
    transform: rotate(10deg);
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.person-name {
    font-size: 3vw;
}

.person-bar {
    border-bottom: 1px solid black;
    width: 20%;
}

.person-title {
    margin-top: 3vh;
}

.margin-fix {
    margin-left: -5%;
}

.person-cue {
    margin-bottom: 20vh;
    font-weight: 100;
}