.team-col {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 5%;
}

.top-row {
    height: 20vh;
    justify-content: flex-end;
    align-items: center;
}

.center-row {
    margin-bottom: 5vh;
    height: 55vh;
}

.bottom-row {
    height: 35vh;
}

.reduce-width {
    width: auto;
}


.person-image {
    width: 45%;
    border-radius: 10px;
}

.person-data-div, .person-action-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-arrow {
    transform: rotate(180deg);
}

.person-data-div {
    width: 30%;
}

.person-image {
    object-fit: cover;
    object-position: top;
}

.person-action-btn {
    width: 18px;
    margin-top: -15vh;
}

.person-name {
    font-size: 3vw;
}

.person-bar {
    border-bottom: 1px solid black;
    width: 20%;
}

.person-title {
    margin-top: 3vh;
}

.margin-fix {
    margin-left: -5%;
}

.person-cue {
    margin-bottom: 20vh;
    font-weight: 100;
}

