.team-list-div {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 5vh 0 0 0;
}

.person-div {
    width: 20%;
    margin: 2vh 2.5%;
}
